@import "tailwindcss";

@theme {
  --color-panel: #111114;
  --color-background: #0a0a0c;
  --color-surface: #16161a;
  --color-border: #27272a;
}

body {
  background-color: var(--color-background);
  color: #e4e4e7;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}